{% extends "base.html" %}
{% load static %}
{% block title %} Order Complited {% endblock title %}



{% block content %}

<div class="container" style="margin-top: 50px;">
    <center><i class="fas fa-check-circle" style="font-size: 72px;margin-bottom: 20px;color: #28A745;">
    </i></center>
    <h2 class="text-center fw-bolder">Order Confirmed</h2>
	<br>
	<div class="text-center">
		<a href="{% url 'store' %}" class="btn btn-success" style="font-size: 1.3rem">Continue Shopping</a>
	</div>
</div>

{% endblock content%}