{% extends "base.html" %}
{% load static %}
{% block title %} Dashboard {% endblock title %}



{% block content %}


<div class="container">
    <div class="row">
        <div class="col-md-3">
{% include "accounts/dashboard_sideber.html" %}
        </div>
        <div class="col-md-9">
{% include 'includes/alerts.html' %}
<!--          start-->
                        <form action="{% url 'change_password' %}" method="POST">
                            {% csrf_token %}

                            <div class="form-group ">
                                <input type="password" name="current_password" placeholder="Current Password" class="form-control mb-2" required>
                            </div>
                            <div class="form-group ">
                                <input type="password" name="new_password" placeholder="Create New Password" class="form-control mb-2" required>
                            </div>
                            <div class="form-group ">
                                <input type="password" name="confirm_password" placeholder="Confirm New Password" class="form-control mb-2" required>
                            </div>
                            <br>
                            <input style="font-size: 10px"  type="submit" value="Change Password" class="btn btn-success">
                        </form>
<!--            end-->

</div>
</div>
</div>

{% endblock content%}