{% extends "base.html" %}
{% load static %}
{% block title %} Dashboard {% endblock title %}



{% block content %}


<div class="container">
    <div class="row">
        <div class="col-md-3">
{% include "accounts/dashboard_sideber.html" %}
        </div>
        <div class="col-md-9">

<!--          start-->
  <div class="card-body">
                <div class="row">

                    <div class="col-md-12">
                        <table class="table table-hover">
                          <thead>
                            <tr class="fw-bolder" style="font-size: 1.5rem">
                              <th scope="col">Order #</th>
                              <th scope="col">Billing Name</th>
                              <th scope="col">Phone</th>
                              <th scope="col">Order Total</th>
                                    <th scope="col">Date</th>
                            </tr>
                          </thead>
                          <tbody>
                                {% for order in orders %}
                            <tr style="font-size: 1.2rem">
                              <th scope="row"><a href="{% url 'order_detail' order.order_number %}">{{order.order_number}}</a></th>
                              <td>{{order.full_name}}</td>
                              <td>{{order.phone}}</td>
                              <td>${{order.order_total}}</td>
                                    <td>{{order.created_at}}</td>
                            </tr>
                        {% endfor %}

                          </tbody>
                        </table>
                    </div>

                </div> <!-- row.// -->
            </div> <!-- card-body .// -->
<!--            end-->

</div>
</div>
</div>

{% endblock content%}