{% extends "base.html" %}
{% load static %}
{% block title %} Dashboard {% endblock title %}



{% block content %}


<div class="container">

 <div class="row invoice row-printable">
        <div class="col-md-12">
            <!-- col-lg-12 start here -->
            <div class="panel panel-default plain" id="dash_0">
                <!-- Start .panel -->
                <div class="panel-body p30">
                    <div class="row">
                        <!-- Start .row -->
                        <div class="col-lg-6">
                            <!-- col-lg-6 start here -->
                            <div class="invoice-logo"><h1 class="fw-bolder text-danger">SHOPPING BD</h1></div>
                        </div>
                        <!-- col-lg-6 end here -->
                        <div class="col-lg-6">
                            <!-- col-lg-6 start here -->
                            <div class="invoice-from">
                                <ul class="list-unstyled text-right text-center" style="font-size: 1.5rem">
                                    <li><strong>Invoiced To</strong></li>
                                    <li>{{order.full_name}}</li>
                                    <li>{{order.full_address}}</li>
                                    <li>{{order.city}}, {{order.state}}</li>
                                    <li>{{order.country}}</li>
                                </ul>
                            </div>
                        </div>
                        <!-- col-lg-6 end here -->
                        <div class="col-lg-12">
                            <!-- col-lg-12 start here -->
                            <div class="invoice-details mt25">
                                <div class="well">
                                    <ul class="list-unstyled mb0" style="font-size: 1.5rem">
                                        <li><strong>Order</strong> #{{order.order_number}}</li>
                                        <li><strong>Transaction ID</strong> {{order.payment.payment_id}}</li>
                                        <li><strong>Order Date:</strong> {{order.created_at}}</li>
                                        <hr>
                                        <li class="fw-bolder text-success"><strong class="text-danger fw-bolder">Delivery Status:</strong> {{order.status}}</li>
                                    </ul>
                                    <br>
                                </div>
                            </div>

                            <div class="invoice-items">
                                <div class="table-responsive" style="overflow: hidden; outline: none;" tabindex="0">
                                    <table class="table " style="font-size: 1.5rem">
                                        <thead class="table-dark">
                                            <tr>
                                                <th class="per70 text-center " style="font-weight: bolder">Products</th>
                                                <th class="per5 text-center" style="font-weight: bolder">Qty</th>
                                                <th class="per25 text-center" style="font-weight: bolder">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                          {% for item in order_detail %}
                                            <tr>
                                                <td>{{item.product.product_name}}
                                                  <p class="text-muted small">
                                          					{% if item.variations.all %}
                                          						{% for i in item.variations.all %}
                                          							{{ i.variation_category | capfirst }} : {{ i.variation_value | capfirst }} <br>
                                          						{% endfor %}
                                          					{% endif %}
                                          				</p>
                                                </td>
                                                <td class="text-center">{{item.quantity}}</td>
                                                <td class="text-center"> Taka. {{item.product_price}} </td>
                                            </tr>
                                          {% endfor %}
                                        </tbody>
                                        <tfoot>
                                            <tr class="table-warning">
                                                <th colspan="2" class="text-right fw-bolder">Total Price:</th>
                                                <th class="text-center"> Taka. {{subtotal}}</th>
                                            </tr>
                                            <tr class="table-warning">
                                                <th colspan="2" class="text-right fw-bolder">Delivery Charge:</th>
                                                <th class="text-center "> Taka. {{order.tax}} </th>
                                            </tr>

                                            <tr class="table-info">
                                                <th colspan="2" class="text-right fw-bolder">Total Amount (Including Delivery Charge) :</th>
                                                <th class="text-center fw-bolder text-danger"> Taka. {{order.order_total}} </th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                            <div class="invoice-footer mt25">
                                <p class="text-center" style="font-size: 1.5rem">Thank you for shopping with us!</p>
                            </div>
                        </div>
                        <!-- col-lg-12 end here -->
                    </div>
                    <!-- End .row -->
                </div>
            </div>
            <!-- End .panel -->
        </div>
        <!-- col-lg-12 end here -->
    </div>

</div>

{% endblock content%}